.img-size-fix {

    object-fit: cover;
}

.img-size-fix.img-60 {
    height: 60px;
}

.img-size-fix.img-90 {
    height: 90px;
}

.img-size-fix.img-50 {
    height: 50px;
}

.action a {
	font-size: 20px;
	padding: 5px;
}

.active-user {
    border: 2px solid #ff8084;
}


.ratio_asos .cus::before {
	padding-top: 86.778%;
	content: "";
	display: block;
}

.duplicate-close {
    float:right;

}
.duplicate-close a {
    color: #222;
    padding: 5px;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.duplicate-close a:hover {
    opacity: 1;
}

.custom-card {
    border: none !important; 
    border-radius: 6px !important;
    border: 1px solid #ddd !important;
}

#accordion .card .card-body {
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 6px;
}

.slider_view li a {
    color: #222;
}


/* Alert Message CSS*/
section, .section-t-space {
	padding-top: 20px;
}

 /*switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0ee6b0 ;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0ee6b0 ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }